@import url(https://fonts.googleapis.com/css?family=Fira+Sans:400,300,300italic,400italic,500,500italic,700,700italic);

body {
    background-color: #e5e5e5;
    margin: 0px;
}

.wrapper {
    width: 100%;
}

.item1 {
    background-color: #c7ddea;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header_text h1,
.section_a h1 {
    line-height: 100%;
    font-size: 2.5rem;
    font-weight: 900;
    font-style: normal;
    font-family: Frank Ruhl Libre,
        serif;
    font-weight: 900;
    letter-spacing: -0.02em;
    min-width: min-content;
}

.item1 img {
    width: 200px;
}

.navbar {
    background-color: white;
    font-family: Fira Sans,
        Sans-serif;
    font-style: normal;
}

ul {
    width: 100%;
    height: 40px;
    list-style: none;
    padding-left: 0px;
    margin-block-start: 0;
    margin-block-end: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

a:link {
    color: rgba(0, 0, 0, 0.5);
    text-decoration: none;
    font-weight: 600;
    font-size: 0.7rem;
    line-height: 100%;
    letter-spacing: -0.02em;
    text-decoration: none;
}

li:last-child a {
    color: black;
}

.contact_form_container {
    background-color: #A9A19E;
    display: flex;
    flex-direction: column;
    padding: 40px;
}

.section_a h1 {
    max-width: 14ch;
    min-width: min-content;
    color: white;
}

.section_a,
.section_b {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact_form {
    display: flex;
    flex-direction: column;
    max-width: 70%;
    min-width: 200px;
}

form label {
    display: block;
    font-family: Fira Sans, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 0.7rem;
    line-height: 100%;
    color: #FFFFFF;
    opacity: 0.7;
    margin-bottom: 5px;
}

form input {
    margin-bottom: 20px;
    border-radius: 2px;
    border-style: none;
    width: 100%;
    height: 20px;
}

form .textbox {
    height: 80px;
}

form .button {
    width: 100px;
    height: 30px;
    border-radius: 100px;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.1);
    border: none;
    color: black;
    font-family: Fira Sans, sans-serif;
    font-size: 0.6rem;
    font-weight: bold;
}

.map {
    background-image: url(map.png);
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.map_box2 img {
    visibility: collapse;
}

.map .adress_box {
    background-color: #FAB131;
    padding: 20px;
    color: white;
    margin-block-start: 0;
    margin-block-end: 0;
    height: max-content;
}

.map .adress_box h1 {
    font-family: Frank Ruhl Libre,
        serif;
    font-weight: 900;
    line-height: 100%;
    font-style: normal;
    font-size: 3rem;
    margin-block-start: 0;
}

.map .adress_box p {
    font-family: Fira Sans, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 24px;
    opacity: 0.7;
}

.map img {
    visibility: hidden;
}

footer {
    height: 50px;
    background-color: #777574;
}

@media screen and (min-width: 700px) {
    .wrapper {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .item1 {
        flex-direction: row;
        align-items: flex-end;
        height: 360px;
    }

    .header_empty {
        width: 33%;
    }

    .header_text {
        width: 33%;
        min-width: 15ch;
        justify-content: center;
        align-self: center;
    }

    .header_img {
        width: 33%;
        display: flex;
        align-items: flex-end;
    }

    .header_img img {
        max-width: 100%;
    }

    .navbar {
        background-color: white;
        font-family: Fira Sans,
            Sans-serif;
        font-style: normal;
    }

    ul {
        width: 100%;
        height: 60px;
        list-style: none;
        padding-left: 0px;
        margin-block-start: 0;
        margin-block-end: 0;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    a:link {
        color: rgba(0, 0, 0, 0.5);
        text-decoration: none;
        font-weight: 600;
        font-size: 1rem;
        line-height: 100%;
        letter-spacing: -0.02em;
        text-decoration: none;
    }

    a:link:active {
        color: black;
    }

    li:last-child a {
        color: black;
    }

    .contact_form_container {
        height: 400px;
        background-color: #A9A19E;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 40px;
    }

    .section_a,
    .section_b {
        padding-top: 40px;
        width: 50%;
        min-width: 350px;
        display: flex;
    }

    .section_a {
        align-items: center;
    }

    .section_a h1 {
        max-width: 14ch;
        min-width: min-content;
        color: white;
        margin: 0;
    }

    .section_b {
        padding-left: 40px;
        justify-content: flex-start;
        align-items: flex-start;
    }

    form label {
        font-family: Fira Sans, sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 0.7rem;
        line-height: 100%;
        color: #FFFFFF;
        opacity: 0.7;
        margin-bottom: 15px;
    }

    form input {
        width: 100%;
        margin-bottom: 40px;
        border-radius: 2px;
        border-style: none;
        height: 30px;
    }

    form .textbox {
        height: 120px;
    }

    form .button {
        width: 131px;
        height: 39px;
        border-radius: 100px;
        box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.1);
        border: none;
        color: black;
        font-family: Fira Sans, sans-serif;
        font-size: 0.6rem;
        font-weight: bold;
        align-self: flex-end;
    }

    .map {
        height: 300px;
        background-image: url(map.png);
        background-size: contain;
        display: flex;
        padding: 40px;
    }


    .map .map_box1,
    .map .map_box3 {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .map .map_box2 {
        width: 10%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .map .adress_box {
        background-color: #FAB131;
        padding: 20px;
        color: white;
        margin-block-start: 0;
        margin-block-end: 0;
        height: max-content;
    }

    .map .adress_box h1 {
        font-family: Frank Ruhl Libre,
            serif;
        font-weight: 900;
        line-height: 100%;
        font-style: normal;
        font-size: 2.5rem;
        margin-block-start: 0;
    }

    .map .adress_box p {
        font-family: Fira Sans, sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 1rem;
        line-height: 0.7em;
        opacity: 0.7;
    }

    .map img {
        visibility: visible;
        width: 70px;
        height: 112px;
    }

    footer {
        height: 300px;
        background-color: #777574;
    }

    @media screen and (min-width: 1000px) {

        .wrapper {
            width: 70%;
            margin-left: auto;
            margin-right: auto;
        }
    }

}