@import url(https://fonts.googleapis.com/css?family=Fira+Sans:400,300,300italic,400italic,500,500italic,700,700italic);

body {
  background-color: #e5e5e5;
}

.grid,
nav {
  max-width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.grid {
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: minmax(500px, 1fr) minmax(200px, 1fr);
  grid-template-rows: 272px 272px max-content;
  grid-template-areas: "a b" "a c" "d d";
}

.item1,
.item2,
.item3 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.item1 {
  grid-area: a;
  background-color: #c7ddea;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-image: url(family.png);
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: 286px;
}

.item1 .text_container1 {
  max-width: 32ch;
  line-height: 24px;
  margin-top: 30px;
  margin-left: 60px;
  font-weight: 500;
}
.item1 p {
  font-size: 14px;
}
.item1 h1 {
  line-height: 100%;
  font-size: 3rem;
  min-width: 13ch;
  font-weight: 900;
}
.item1_text_highlight {
  color: white;
}
.join_now {
  width: 131px;
  height: 39px;
  color: #ffffff;
  border-radius: 100px;
  box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.1);
  border: none;
  font-family: Fira Sans, sans-serif;
  color: black;
  font-size: 10px;
  font-weight: bold;
  font-style: normal;
}

h1,
h2 {
  font-family: Frank Ruhl Libre, serif;
  font-weight: 900;
  letter-spacing: -0.02em;
  font-size: 2rem;
}

.grid p {
  color: rgba(0, 0, 0, 0.6);
  font-family: Fira Sans, sans-serif;
}

.item2 {
  grid-area: b;
  background-color: #f17949;
}

.item2 .text_container2,
.item3 .text_container3 {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
  padding: 20px;
  min-width: max-content;
}

.item3 {
  grid-area: c;
  background-color: #fab131;
}

nav {
  grid-area: d;
  height: 50px;
  font-family: Fira Sans, sans-serif;
  font-style: normal;
  font-weight: 600;
}
ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
}

a:link {
  color: rgba(0, 0, 0, 0.5);
  text-decoration: none;
  font-family: Fira Sans, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1rem;
  line-height: 100%;
  letter-spacing: -0.02em;
}
