@import url(https://fonts.googleapis.com/css?family=Fira+Sans:400,300,300italic,400italic,500,500italic,700,700italic);

body {
    background-color: #e5e5e5;
    margin: 0px;
}

.grid {
    width: auto;
    display: flex;
    flex-direction: column;
}

.item1,
.item2,
.item3 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.item1 {
    background-color: #c7ddea;
    background-image: url(family.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 286px;
    padding-bottom: 286px;
}

.item1 .text_container1 {
    max-width: 32ch;
    line-height: 24px;
    font-weight: 500;
    margin-top: 60px;
}

.item1 p {
    font-size: 14px;
}

.item1 h1 {
    line-height: 100%;
    font-size: 3rem;
    min-width: 12ch;
    font-style: normal;
}

.join_now {
    width: 131px;
    height: 39px;
    border-radius: 100px;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.1);
    border: none;
    color: black;
    font-size: 10px;
    font-weight: bold;
}

h1,
h2 {
    font-family: Frank Ruhl Libre, serif;
    font-weight: 900;
    letter-spacing: -0.02em;
    font-size: 2rem;
}

.grid p {
    color: rgba(0, 0, 0, 0.6);
    font-family: Fira Sans, sans-serif;
}

.item2 {
    background-color: #f17949;
}

.item2 .text_container2,
.item3 .text_container3 {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    padding: 20px;
    min-width: max-content;
}

.item3 {
    background-color: #fab131;
}

h2,
.item1_text_highlight {
    color: white;
}

a:link,
nav,
.join_now {
    font-family: Fira Sans, Sans-serif;
    font-style: normal;
}

nav {
    visibility: hidden;
    width: 100%;
    height: 50px;
    font-weight: 600;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
}

a:link {
    color: rgba(0, 0, 0, 0.5);
    text-decoration: none;
    font-weight: 600;
    font-size: 1rem;
    line-height: 100%;
    letter-spacing: -0.02em;
}



@media screen and (min-width: 700px) {
    .grid {
        display: grid;
        grid-template-columns: minmax(500px, 1fr) minmax(200px, 1fr);
        grid-template-rows: 272px 272px;
        grid-template-areas: "a b""a c";
    }

    .item1 {
        grid-area: a;
    }

    .item1 h1 {
        min-width: 13ch;

    }

    .item2 {
        grid-area: b;
    }

    item3 {
        grid-area: c;
    }

    nav {
        visibility: visible;
    }
}