@import url(https://fonts.googleapis.com/css?family=Fira+Sans:400,300,300italic,400italic,500,500italic,700,700italic);

body {
    background-color: #e5e5e5;
    margin: 0px;
}

.blue {
    background-color: #C7DDEA;
}

.red {
    background-color: #F17949;
}

.yellow {
    background-color: #FAB131;
}

.grey {
background-color: #A9A19E;
}

.white {
    background-color: #fff;
}

nav,
.btn,
p,
form label,
form .textbox,
::placeholder {
    font-family: Fira Sans, Sans-serif;
    font-style: normal;
    font-weight: 500;
}
h1,
h2,
h3,
.number {
    font-family: Frank Ruhl Libre, serif;
    font-weight: 900;
    letter-spacing: -0.02em;
    font-style: normal;
}

.header_grid {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 724px 315px 315px;
}

.header_item1,
.header_item2,
.header_item3 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_item1 {
    background-image: url(family.png);
    background-repeat: no-repeat;
    background-position: bottom center;
    align-items: flex-start;
    background-size: 342px;
}

.text_container1 {
    max-width: 40ch;
    line-height: 24px;
    margin-top: 30px;
}

.header_item1 p {
    font-size: 14px;
}

.header_item1 h1 {
    line-height: 100%;
    font-size: 3rem;
    min-width: 12ch;
    font-style: normal;
}

.btn {
    width: 131px;
    height: 39px;
    border-radius: 100px;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.1);
    border: none;
    color: rgba(0, 0, 0, 0.8);;
    font-size: 10px;
    font-weight: 800;
    margin-top: 40px;
    background-color: #fff;
}

.header_grid p {
    color: rgba(0, 0, 0, 0.6);
}

.text_container2,
.text_container3 {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    min-width: max-content;
}

.text_container2 h2,
.text_container3 h2 {
    margin: 0px;
    font-size: 2.4rem;
} 

.text_container2 h2,
.text_container3 h2,
.item1_text_highlight {
    color: white;
}

.text_container2 p,
.text_container3 p {
    font-size: 0.7rem;
    margin: 0px;
    font-weight: bold;
}

nav {
    display: none;
}

ul {
    display: flex;
    flex-direction: row;
    height: 68px;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-left: 0;
}

a:link {
    color: rgba(0, 0, 0, 0.5);
    text-decoration: none;
    font-weight: 600;
    font-size: 0.7rem;
    line-height: 100%;
    letter-spacing: -0.02em;
}

a:link.active {
    color: black;
}


.main_grey {
    height: 1580px;
}

.main_grey_content {
    max-width: 90%;
    height: 237px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 30px;
}

.main_grey_content1, .main_grey_content2{
    max-width: 45ch;
}

.main_grey h2 {
    margin-bottom: 10px;
}

.main_grey .btn {
    display: none;
}

.main_grey h2,
.main_yellow h2 {
    font-size: 45px;
    line-height: 100%;
    color: #fff;
    margin-top: 0px;
}


.main_grey p,
.main_yellow p {
    font-size: 14px;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.6);
}

.smallboxes {
    display: grid;
    gap: 60px;
    max-width: 256px;
    grid-template-columns: 1fr;
    grid-template-rows: 308px 308px 308px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 240px;
}

.smallbox {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.smallbox h3 {
    text-align: center;
    position: relative;
    top: -26px;
    font-size: 16px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.9);
}

.smallbox p {
    position: relative;
    top: -30px;
    font-size: 11px;
    font-weight: bold;
    line-height: 18px;
    color: rgba(0, 0, 0, 0.4);
    max-width: 84%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.smallbox_pic1, 
.smallbox_pic2, 
.smallbox_pic3 {
    max-width: 92%;
    height: 150px;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: -26px;
}

.smallbox_pic1 {
    background-image: url("child_cut.png");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 88px;
}

.smallbox_pic2 {
    background-image: url("adult_cut.png");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 77px;
}

.smallbox_pic3 {
    background-image: url("old_cut.png");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 130px;
}

.main_yellow {
    height: 680px;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main_yellow h2 {
    text-align: center;
    margin-bottom: 20px;
}

.main_yellow p {
    max-width: 75%;
    text-align: center;
}

.main_grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 170px 170px 170px 170px 170px 170px;
}

.number h3 {
    margin: 20px;
    font-size: 35px;
    line-height: 100%;
    font-weight: 900;
    letter-spacing: -0.02em;
    color: rgba(0, 0, 0, 0.4);
}

.grid_item1 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 45px;
    line-height: 100%;
    color: rgba(0, 0, 0, 0.8);
}

.grid_item1 h3 {    
    font-size: 45px;
    line-height: 100%;
    color: rgba(0, 0, 0, 0.8);
}

.grid_item {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;

}
.main_grid_p {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: rgba(0, 0, 0, 0.7);
    font-size: 0.9rem;
    line-height: 20px;
}

.lightgreyfooter {
    display: none;
}

.greyfooter {
    background-color: #777574;
    height: 218px;
 }

 .item1_contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 500px;
}

.header_text h1,
.section_a h1 {
    line-height: 100%;
    font-size: 2.5rem;
    font-weight: 900;
    min-width: min-content;
}

.item1_contact img {
    width: 200px;
}

.contact_container {
    background-color: #A9A19E;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
}

.section_a h1 {
    max-width: 14ch;
    min-width: min-content;
    color: white;
}

.section_a,
.section_b {
    width: 80%;
    justify-content: center;
    align-items: center;
}

label {
    display: block;
    font-weight: bold;
    font-size: 0.7rem;
    line-height: 100%;
    color: #FFFFFF;
    opacity: 0.7;
    margin-bottom: 5;
}

form input,
textarea {
    margin-bottom: 20px;
    border-radius: 2px;
    border-style: none;
    width: 100%;
    height: 20px;
}

.contact_form {
    width: 80%;
}

textarea {
    resize: none;
}
.textbox {
    height: 80px;
    font-weight: normal;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: -0.02em;
    color: #000000;
}

::placeholder {
    font-size: 14px;
    line-height: 100%;
    letter-spacing: -0.02em;
    color: #000000;
}

.btn {
    margin-top: 0px;
}

.map {
    background-image: url(map.png);
    background-size: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px 30px 30px 30px;
}

.map_box2 {
    visibility: collapse;
}

.map_box2 img {
    visibility: hidden;
}

.adress_box {
    background-color: #FAB131;
    color: white;
    margin-block-start: 0;
    margin-block-end: 0;
    width: 100%;
    height: 206px;
}

.adress_box h1 {
    line-height: 100%;
    font-size: 3rem;
    margin-block-start: 0;
    margin-bottom: 5px;
    margin-top: 10px;
    margin-left: 10px;
}

.adress_box p {
    font-size: 1rem;
    line-height: 0.7em;
    opacity: 0.7;
    margin-left: 10px;
}

.map img {
    visibility: hidden;
}

footer {
    height: 50px;
    background-color: #777574;
}


@media screen and (min-width: 700px) {
    .header_grid {
        grid-template-columns: minmax(500px, 1fr) minmax(200px, 1fr);
        grid-template-rows: 272px 272px;
        grid-template-areas: "a b""a c";
    }

    .header_item1 {
        background-position: bottom right;
        background-size: 286px;
        grid-area: a;
    }

    .header_item1 h1 {
        min-width: 13ch;
    }

    .header_item2 {
        grid-area: b;
    }

    .header_item3 {
        grid-area: c;
    }

    .text_container1 {
        margin-top: 10px;
        max-width: 32ch;
    }

    nav {
        display: block;
        font-weight: 600;
    }

    .main_grey {
        height: 612px;
    }

    .main_grey_content {
        max-width: 78%;
        flex-direction: row;
        justify-content: space-between;
        top: 100px;
    }

    .main_grey_content1 {
        max-width: 41%;
        min-width: 40ch;
    }
    
    .main_grey_content2 {
        max-width: 34%;
        min-width: 35ch;
    }

    .main_grey .btn {
        display: block;
        margin-top: 62px;
    }

    .smallboxes {
        max-width: 83%;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 308px;
        gap: 3%;
        top: 220px;
    }

    .main_yellow h2 {
        margin-top: 150px;
    }

    .main_yellow p {
        max-width: 44%; 
    }

    .main_grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 240px 240px;
    }

    .lightgreyfooter {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 68px;
    }

    .lightgreyfooter img {
        margin-top: 10px;
    }

    .lightgreyfooter p {
        margin-top: 0;
        font-size: 1rem;
        line-height: 20px;
        color: rgba(0, 0, 0, 0.7);
    }

    .greyfooter {
        height: 340px;
     }

     .item1_contact {
        flex-direction: row;
        align-items: flex-end;
        height: 360px;
    }

    .header_empty {
        width: 33%;
    }

    .header_text {
        width: 33%;
        min-width: 15ch;
        justify-content: center;
        align-self: center;
    }

    .header_img {
        width: 33%;
        display: flex;
        align-items: flex-end;
    }

    .header_img img {
        max-width: 100%;
    }

    ul {
        height: 60px;
    }

    .contact_container {
        height: 400px;
        flex-direction: row;
        align-items: flex-start;
        padding-top: 80px;
    }

    .section_a,
    .section_b {
        width: 50%;
        min-width: 350px;
    }

    .section_a h1 {
        max-width: 14ch;
        min-width: min-content;
        margin: 0;
    }

    .section_b {
        justify-content: flex-start;
        align-items: flex-start;
    }

    label {
        margin-bottom: 5px;
    }

    form input {
        margin-bottom: 40px;
        height: 30px;
    }

    .contact_form {
        width: 38%;
    }

    .textbox {
        height: 120px;
    }

    .map {
        height: 300px;
        flex-direction: row;
        padding: 40px;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .map_box1,
    .map_box3 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .map_box1 {
        width: 40%;
    }

    .adress_box {
        margin-left: 20px;
    }

    .map_box2 {
        width: 40%;
        height: 220px;
        display: flex;
        align-items: flex-end;
        justify-content: flex-start;
    }

    .map img {
        visibility: visible;
        width: 70px;
        height: 112px;
        margin-left: 50px;
    }

    footer {
        height: 300px;
    }
}

@media screen and (min-width: 1000px) {
    
    header, main, footer {
        max-width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
}

